.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.mySlides {
  position: relative;
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.numbertext {
  position: absolute;
  color: white;
  top: 2%;
  left: 2%;
}
.control {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  color: white;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  opacity: .3;
}
.control::before {
  content: '';
  display: inline-block;
  width: 12%;
  height: 12%;
  border-radius: 3px 0 0 3px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}
.slideInnerBlock {
  position: absolute;
  color: black;
  width: 35%;
  height: 45%;
  background: rgba(255, 255, 255, .9);
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.slideInnerBlock__right {
  right: 12%;
}
.slideInnerBlock__left {
  left: 12%;
}
.dots {
  position: absolute;
  bottom: 3%;
  align-self: center;
  cursor: default;
}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  transition: background-color .6s ease;
  opacity: .8;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}
@keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}